@import url('GromovSans-Book.ttf');
body {
    font-family: "Gromov Sans";
}
img {
    max-width: 100%;
    height: auto;
}
header, div {
    max-width: 600px;
    margin: 0 auto;
}
header {
    text-align: right;
}
h1 {
    text-align: center;
}